<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Onks jalluu?">
    <meta name="author" content="kamiheku">
    <meta property="og:title" content="Jallua" />
    <meta property="og:description" content="Onks jalluu?" />
    <meta property="og:image" content="https://s3-eu-west-1.amazonaws.com/loota/jallu/jallu-banner.jpg" />
    <meta name="theme-color" content="#fcc10c">
    <meta name="msapplication-navbutton-color" content="#fcc10c">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Jallua</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald:400,700" rel="stylesheet">
  </head>

  <body>
    <div class="content">
      <img id="pullo" src="http://jallu.loota.xyz/static/img/jallu-small.png">
      <div id="info-block">Jyväskylän Alkoissa<br>
        on saatavilla
        <strong>{{ sum }}</strong> litraa<br>
        Jallua. Ei hätää.
        <p id="selite">
          ★ {{ yks }} l, ★★★ {{ kolme }} l
        </p>
      </div>
    </div>
  </body>
</html>
